<%- include("partials/header.ejs"); -%>
<div class="container">
  <h1 class="display-1"><%= showPost.postTitle %></h1>
  <p><%= showPost.postBody %></p>
</div>
<%- include("partials/footer.ejs"); -%>
